DATABASE_URL=postgres://inv:inv@postgres-inventory:5432/inventory_db?sslmode=disable
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
SERVER_PORT=8000
LOG_LEVEL=info
LOW_STOCK_THRESHOLD=2
MAX_RETRY_ATTEMPTS=3
