DATABASE_URL=postgres://notif:notif@postgres-notification:5432/notification_db?sslmode=disable
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
SQS_QUEUE_URL=http://localstack:4566/000000000000/notification-events
SERVER_PORT=8000
LOG_LEVEL=info
MAX_RETRY_ATTEMPTS=3
