DATABASE_URL=postgres://book:book@postgres-book:5432/book_db?sslmode=disable
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:library-events
SERVER_PORT=8000
LOG_LEVEL=info
